.table_wrap {
  margin-bottom: 24px;
}

.table_wrap h2 {
  font-weight: 600;
  padding: 8px;
}

.table_wrap table {
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 14px;
}

.table_wrap table input[type='text'] {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 4px;
}
.table_wrap table .error {
  color: red;
  margin-top: 5px;
  font-weight: 500;
}

.table_wrap table th {
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  width: 150px;
  background-color: #f8f8f8;
}

.table_wrap table th,
.table_wrap table td {
  padding: 8px;
  border: 1px solid #ddd;
}
