@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  main {
    @apply md:mt-10 mt-5;
  }

  .container {
    @apply xl:px-0 md:px-10 px-4;
  }
}

@layer components {
  .no-scroll::-webkit-scrollbar {
    display: none;
  }
  .admin-h2 {
    @apply text-lg font-semibold;
  }

  .admin_table_wrap {
    margin-bottom: 4px;
  }
  .admin_table_wrap h2 {
    font-weight: 600;
    padding: 8px;
  }
  .admin_table_wrap table {
    width: 100%;
    border: 1px solid #ddd;
    background-color: white;
    font-size: 14px;
  }

  .admin_table_wrap table th {
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    width: 150px;
    background-color: #f8f8f8;
  }

  .admin_table_wrap table th,
  .admin_table_wrap table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
}
