@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  main {
    @apply md:mt-10 mt-5;
  }

  .container {
    @apply xl:px-0 md:px-10 px-4;
  }

  .product-h2 {
    @apply text-2xl font-semibold;
  }
}

@layer components {
  .no-scroll::-webkit-scrollbar {
    display: none;
  }
  .admin-h2 {
    @apply text-lg font-semibold;
  }
  .input_wrap {
    display: flex;
    gap: 8px;
  }
  .checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .radio {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
